[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-admin = "*"
pillow = "*"
django-countries = "*"
requests = "*"
django-seed = "*"

[requires]
python_version = "3.8"
