{% extends "base.html" %}

{% block page_title %}Home{% endblock page_title %}

{% block content %}

    {% for room in page %}
        <h1>{{room.name}} / ${{room.price}}</h1>
    {% endfor %}

    <h5>
    {% if page.has_previous %}
        <a href="?page={{page.number|add:-1}}">Previous</a>
    {% endif %}

        page : {{page.number}} / {{page.paginator.num_pages}}

    {% if page.has_next %}
        <a href="?page={{page.number|add:1}}">Next</a>
    {% endif %}
    </h5>

    {% comment %} <h3>
        {% for page in page_range %}
            <a href="?page={{page|add:1}}">{{page|add:1}}</a>
        {% endfor %}
    </h3> {% endcomment %}

{% endblock content %}