{% extends "base.html" %}

{% block page_title %}Home{% endblock page_title %}

{% block content %}

    {% for room in rooms %}
        <h1>{{room.name}} / ${{room.price}}</h1>
    {% endfor %}

    <h5>
    {% if rooms.has_previous %}
        <a href="?page={{rooms.number|add:-1}}">Previous</a>
    {% endif %}

        page : {{rooms.number}} / {{rooms.paginator.num_pages}}

    {% if rooms.has_next %}
        <a href="?page={{rooms.number|add:1}}">Next</a>
    {% endif %}
    </h5>

    {% comment %} <h3>
        {% for page in page_range %}
            <a href="?page={{page|add:1}}">{{page|add:1}}</a>
        {% endfor %}
    </h3> {% endcomment %}

{% endblock content %}